.bloc {
    background-color: rgb(255, 255, 255);
    color:black;
    height: 300px;
    font-size: 24px;
    border: 2px solid #000;
    padding: 80px;
    border-radius: 40px;
    
}
.header {
    background-color: rgb(255, 255, 255);
    color:black;
    height: 100px;
    font-size: 24px;
    border: 2px solid #000;
    padding: 80px;
    border-radius: 40px;
    
}
.body{
    background-color: rgb(255, 255, 255);
    color:black;
    font-size: 24px;
    padding: 80px;
    border-radius: 40px;
}

.dark{
    background-color: black;
    color:white;
    border: 2px solid #ffffff;
}
.dark1{
    background-color: rgb(49, 48, 48);
    color:white;
    border: 2px solid #ffffff;
}